.rates-menu_wrapper {
    display: grid;
    row-gap: 5rem;
    margin-bottom: 5rem;
}

.rates-menu_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.5%;
    margin: 0;
}

@media (max-width: 980px) {

    .rates-menu_container {
        grid-template-columns: none;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 2rem;
        justify-items: center;
    }
}
