@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
  font-family: Ferry;
  src: url(./Fonts/ferrry-font.otf);
}

.App {
  text-align: center;
}

main {
  margin: 0 3rem;
}

@media (max-width: 650px) {
  
  main {
    margin: 0 0.87rem;
  }
}

